.titletab{
  font-family: 'Lobster', cursive;
  margin-bottom: 30px;
  text-align: center;
}

#complete-dash{
  text-align: center;
  color: #bfbfbf;
  font-size: 16px;
  margin-top: 35px;
}

.dashboard-description{
  color: #bfbfbf;
}

.btn-link-dash{
  border: none;
  background: none;
}

// SAVE AND CONTINUE BTN CODE______


/* Variables */
$color__blue: #3C474B;
$color__white: #ffffff;

$transition: 0.5s ease;

/* Mixins */
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Resets */
* {
  box-sizing: border-box;
}

/* Button styles */
.btndash {
  font-size: 13px;
  border: #3C474B;
  background-color: white;
  color: #3C474B;
  margin-top: 50px;
  padding: 0;
  position: relative;
  width: 200px;
  height: 55px;
  font-family: Avenir, Helvetica, sans-serif;
  letter-spacing: 0.2em;
  text-align: center;
  border: none;
  outline: none;
  webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow: hidden;
  cursor: pointer;

}

.button__outline {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid $color__blue;
}

.button__background {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: $color__blue;
  border: 1px solid $color__blue;
  transition: $transition;
}

.button__text {
  @include center;
  z-index: 2;
}

/* Hover styles */
.btndash:hover {
  color:white;

  .button__background {
    left: 0;
  }
}

// BTN LINK PHRASES

.cntr{
  position: absolute;
}

.lnk1{
  text-decoration: none;
  color: black;
  font-family: Avenir, Helvetica, sans-serif;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(255,255,255,.1);
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 300;
  position: relative;
  &:before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 4px;
    height: 2px;
    width: 0%;
    background: #bfbfbf;
    transition: all .3s ease;
    }
  &:hover:before{
    width: 100%;
  }
}

.lnk2{
  text-decoration: none;
  color: black;
  font-family: Avenir, Helvetica, sans-serif;
  // padding-bottom: 5px;
  border-bottom: 2px solid rgba(255,255,255,.1);
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 300;
  position: relative;
  &:before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 4px;
    height: 2px;
    width: 0%;
    background: #bfbfbf;
    transition: all .3s ease;
    }
  &:hover:before{
    width: 100%;
  }
}

.lnk3{
  text-decoration: none;
  color: black;
  font-family: Avenir, Helvetica, sans-serif;
  // padding-bottom: 5px;
  border-bottom: 2px solid rgba(255,255,255,.1);
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 300;
  position: relative;
  &:before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 4px;
    height: 2px;
    width: 0%;
    background: #bfbfbf;
    transition: all .3s ease;
    }
  &:hover:before{
    width: 100%;
  }
}

.lnk4{
  text-decoration: none;
  color: black;
  font-family: Avenir, Helvetica, sans-serif;
  // padding-bottom: 5px;
  border-bottom: 2px solid rgba(255,255,255,.1);
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 300;
  position: relative;
  &:before{
    content:'';
    position: absolute;
    left: 0;
    bottom: 4px;
    height: 2px;
    width: 0%;
    background: #bfbfbf;
    transition: all .3s ease;
    }
  &:hover:before{
    width: 100%;
  }
}


.float-right {
  height: 40px;
  display: flex;
}


#step1 > div:nth-child(2){
  height: 70px;
}

#step1 > div:nth-child(3){
    height: 70px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.height-given{
  margin-bottom: 20px;
}


// FLEX ROW

.row-flex-tab{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 21px;
}

.tab-content{
  margin-left: 50px;
  margin-right: 50px;
}

.infos-selected{
  color: #bfbfbf;
  margin-left: 10px;
}

.infos-selected{
  text-align: justify;
}

.text-tab-title{
  width: 50vw;
}

h4{
  font-family: Avenir, Helvetica, sans-serif;
  letter-spacing: 0.1em;
}

h5{
  font-family: Avenir, Helvetica, sans-serif;
  font-weight: 200;
  text-decoration:none;
  font-size:14px;
}

.modal-body p {
  font-family: ‘Lobster’, cursive;
  font-size: 15px;
  font-style: italic;
}

.subtitle {
  text-align: center;
}
