.column1-marge{
  width: 220px;
  float: left;
  text-align: center;
}

#banner-height{
  height:342px;
}

#description-show-team{
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
  text-align: justify;
}
#title-description-show-team{
  margin-bottom: 17px;
}

#top-space-show-user{
  margin-top: 20px;
}

#details-show-team{
  top: 189px;
  left: 347px;
}

#side-card{
  border: 2px solid white;
  text-align: center;
}

#date-box-no-right-show-team{
  border-left:2px solid #f0f0ed;
  border-bottom: 2px solid #f0f0ed;
  border-top: 2px solid #f0f0ed;
}

#date-box-no-left-show-team{
  border-right:2px solid #f0f0ed;
  border-bottom: 2px solid #f0f0ed;
  border-top: 2px solid #f0f0ed;
}

#no-padding-right{
  padding-right: 0;
}
#no-padding-left{
  padding-left: 0;
}

#join-team-show > button > a{
  color: white;
  text-decoration: none;
}

#address-box{
  border:2px solid #f0f0ed;
}
