<div class="container" id="bckgrnd-color">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
    <h1>Edit your tasks</h1>
    <br>
    <%= simple_form_for(@task) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.submit "Modify task", class: "btn btn-primary" %>
      <br>
    <% end %>
    </div>
  </div>
</div>
