<div class="video-container">
<%= video_tag("logofinal.mp4", autoplay: :autoplay, loop: :loop)%>
  <div class="video-container-content">
    <h1>Let's Curate</h1>
    <p>Put your art on the world's canvas!</p>
  </div>
</div>
