<div class="video-container">
<%= video_tag("logofinal.mp4", autoplay: :autoplay, loop: :loop)%>
  <div class="video-container-content">
    <h1>Let's Curate</h1>
    <p>Put your art on the world's canvas!</p>
  </div>
</div>

<div id="info">
  <div class="parallax" height="500px">
    <div class="info">
      <h2 class="text-center">Join a collaboration that suits your needs.</h2>
    </div>
  </div>
  <div class="parallax1" height="500px">
    <div class="info">
      <h2 class="text-center">Pool your ressources together and build an exhibition.</h2>
    </div>
  </div>
  <div class="parallax2" height="500px">
    <div class="info">
      <h2 class="text-center">Enjoy your low-cost, risk-free exhibition and rise to fame!</h2>
    </div>
  </div>
</div>
