#header {
  // background-color: black;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: darkgrey;
  position: center;
}

p {
  font-size: 20px;
}

.avatar-super-large {
  width: 100px;
  border-radius: 50%;
}

.logob {
  width: 50px;
  margin-left: 330px;
}

.titlepdf {
  font-family: 'Lobster', cursive;
}

.writingpdf{
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 15px;
}

.textpdf{
  font-family: Avenir, Helvetica, sans-serif;
  font-weight: 200;
  text-decoration:none;
  text-align: right;
  font-size: 15px;
  color: #bfbfbf;
}

.textpdfspecial{
  font-family: Avenir, Helvetica, sans-serif;
  font-weight: 200;
  text-decoration:none;
  font-size: 15px;
  color: #bfbfbf;
  margin-left: 10px;
}

.margin-side-pdf {
  margin-left: 10px !important;
  margin-right: 10px;
}
