#header {
  // background-color: black;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: darkgrey;
  position: center;
  font-family: Raleway, Helvetica, sans-serif;
}

p {
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 20px;
}

.avatarpdf {
  width: 30px;
}
